# folders
cache/
coremods/
crash-reports/
data/
defaultconfigs/
downloads/
ESM/
fancymenu_data/
local/
logs/
replay_recordings/
saves/
schematics/
screenshots/
server-resource-packs/
texturepacks/
config/litematica/

# hidden folders
.*/
*/.index/

# files
realms_persistence.json
options.txt
usercache.json
debug-profile.json
config/iris.properties
config/vmp.properties
config/voicechat/voicechat-client.properties